<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title
    block links
      link(rel="stylesheet", href="styles/main.css")
  body
    block content
    block scripts
      script(src="scripts/main.js")
